.electron-in-page-search-window {
  position: fixed;
  top: 0;
  right: 0;
  border: solid grey 1px;
  background-color: white;
  width: 300px;
  height: 36px;
}

/*
 * .search-inactive is added to search window <webview> when the window
 * is inactive.
 */
.search-inactive {
  visibility: hidden;
}

/*
 * .search-inactive is added to search window <webview> when the window
 * is active.
 */
.search-active {
  visibility: visible;
}

#target-webview {
  width: 100%;
  height: 350px;
  border: solid black 1px;
}
