.searcher {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background: #eee;
  border: 1px solid #d7d7d7;
  border-top: none;
  border-right: none;
}

.searcher button {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  background: white;
  outline: none;
  padding: 5px;
  cursor: pointer;
  font-size: .875rem;
}

.searcher button:hover {
  background: #f0f0f0;
}

.searcher-input {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: .875rem;
}

.searcher-input:focus {
  border-color: #35b5f4;
  box-shadow: 0 0 1px #35b5f4;
}

.searcher__hidden {
  display: none;
}

.searcher-progress__disabled {
  display: none;
}
